{% extends "layout/_base.html" %}
{% block title %}Category Detail{% endblock %}
{% block body %}
{% load static %}
 <center>
    <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="card card-signin my-5" style="background-color: lightgray; border-radius: 3px">
                  <div class="card-body">
                      {% for category in all_category %}
                          {{ category }}
                      {% endfor %}
                </div>
               </div>
              </div>
            </div>
            <br>


   </div>
</center>
{% endblock%}