{% extends "layout/_base.html" %}
{% block title %}Categories{% endblock %}
{% block body %}
<center>
    <div class="list_div">
        <ol>
        {% for category in all_category %}
            <li class="" style="background-color: lightgray; width: 700px; height: 70px">
                <a href="{% url 'category_detail' pk=category.pk %}">
                    {{ category.name }}
                </a>
                <a href="{% url 'delete_category' pk=category.pk %}" style="color: blueviolet"><h5>DeleteCategory</h5></a>
                <br>
            </li>
{#        <div class="card" >#}
{#          <div class="card-body" style="border-radius: 3px;background-color: lightgray;">#}
{#            <h5 class="card-title" style="color: blueviolet;width: 100px; font-weight: bold">#}
{#                <a href="{% url 'category_detail' pk=category.pk %}">#}
{#                {{ category.name }}</a></h5>#}
{#                <a href="{% url 'delete_category' pk=category.pk %}" style="color: blueviolet"><h5>DeleteCategory</h5></a>#}
{#            <hr>#}
            <br>
          {% endfor %}
        </ol>
    </div>

{#      </div>#}
{#    </div>#}
    <a href="{% url 'add_category'%}"><h3>AddCategory</h3></a>
</center>
{% endblock %}