{% extends "layout/_base.html" %}
{% block title %}NEW AMAIL{% endblock %}
{% if messages %}
        {% for message in messages %}
            <!-- Success alert -->
            <div class="container fixed-top">
                <div class="py-md-4">
                    <div class="alert d-flex alert-success" role="alert">
                        <i class="ai-check-circle fs-xl me-3"></i>
                        <div>
                            {{ message }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endif %}
{% block body %}
    <center>
    <form  method="post" >
        {% csrf_token %}
        <br>
        <p>To: <label>
            {{ form.receiver }}
        </label></p>
        <br>
        <p>cc: <label>
            {{ form.cc }}
        </label></p>
        <br>
        <p>bcc: <label>
            {{ form.bcc }}
        </label></p>
        <br>

         <input style="padding: 10px 80px;
            border: none;
            border-radius: 20px;
            background-image: linear-gradient(to right, rgb(235, 62, 235), rgb(92, 92, 238));
            color: white;
            font-weight: 700;
            letter-spacing: 2px;
            cursor: pointer;
            transition: 0.3s;" type="submit" name="send" value="send">
         <input style="padding: 10px 80px;
            border: none;
            border-radius: 20px;
            background-image: linear-gradient(to right, rgb(235, 62, 235), rgb(92, 92, 238));
            color: white;
            font-weight: 700;
            letter-spacing: 2px;
            cursor: pointer;
            transition: 0.3s;" type="submit" name="save" value="save">
    </form>
</center>
{% endblock %}