{% extends "layout/_base.html" %}
{% block title %}NEW AMAIL{% endblock %}
{% block body %}
<section>
    <form action="/mail/inbox_list/" method="post">
        {% csrf_token %}
        <div class="container" >
        <div class="row">
          <div class="col-md-8">
            {% for object in object_list %}
            <div class="card card-signin my-5">
              <div class="card-body" >
                <a class="text-dark" href="/mail/mail_detail/{{ object.id }}" ><b>{{ object.username }}</b></a>
                <br><br>
                <p class="card-text text-dark">{{ object.subject }}</p>
              </div>
            </div>
            {% endfor %}
           </div>
        </div>
    </div>
    </form>
</section>
{% endblock %}