{% extends "layout/_base.html" %}
{% block title %}Trash{% endblock %}
{% block body %}
<center>
     <div class="card" style="border-radius: 3px;background-color: lightgray; border-color: white">
            <div class="card-body" >
                {% for trash in trash_mail %}
                    {{ trash }}
                    {% for receiver_ in trash.receiver.all %}
                        <h5 class="card-title" style="color: blueviolet">
                            <a href="{% url 'trash_detail' pk=trash.pk %}">
                            {{ receiver_ }}</a>
                        </h5>
                    {% endfor %}
                    <p class="card-text" style="color: blueviolet">{{ trash.subject }}</p>
                    <p class="card-text" style="color: blueviolet"><small
                            class="text-muted">{{ trash.mail_date }}</small></p>
                <br><br>
                {% endfor %}
            </div>
        </div>
</center>
{% endblock %}